*

!*_strategies.py

!base/
!base/**
base/__pycache__/
base/extended_card_class.py

!.github
!.github/**
!.gitignore

!README.md

!scripts/
!scripts/**

!test_simulator.py
!all_strategies.py
!simulator_combined_strategies.py