*

!*_strategies.py

!base/
!base/*.py
base/extended_card_class.py

!.github
!.github/workflows
!.github/workflows/validate_pr.yml
!.gitignore

!README.md
!docker-compose.yml
!Dockerfile
!requirements.txt

!strategies/
!strategies/**
!strategies/**/*.py
strategies/**/__pycache__/

!scripts/
!scripts/update_all_strategies.py
!scripts/remove_junk.sh

!test_simulator.py
!all_strategies.py
!simulator_combined_strategies.py